.description-box {
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  margin: 4px 0;
  border-radius: 4px;
}

.title-wrapper {
  text-align: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 4px;
  padding-left: 12px;
  background-color: lightgray;
}

#mapArea {
  height: 400px;
}

.action-link {
  float: right;
  padding-right: 8px;
}
