.description-box {
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  margin: 4px 0;
  border-radius: 4px;
}

.title-wrapper {
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 4px;
  background-color: lightgray;
}
