#canvasWrap {
  border: 1px solid black;
}

.under-bar {
  height: 24px;
  background-color: black;
  color: white;
}

.direction-icon {
  margin: 0 4px;
  display: inline-block;
}

.direction-value {
  margin: 0 4px;
  display: inline-block;
}
