<app-old-chou-treasure-button
  [x]="0"
  [y]="y"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-button>
<app-old-chou-treasure-button
  [x]="1"
  [y]="y"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-button>
<app-old-chou-treasure-button
  [x]="2"
  [y]="y"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-button>
<app-old-chou-treasure-button
  [x]="3"
  [y]="y"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-button>
<app-old-chou-treasure-button
  [x]="4"
  [y]="y"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-button>
