app-old-chou-treasure-area {
    text-align: center;
    display: inline-block;
}

.tool-area {
    text-align: center;
    margin: 16px;
}

.wrap {
    text-align: center;
    white-space: nowrap;
}

.house {
    display: inline-block;
    background-color: brown;
    color: white;
    width: 128px;
    height: 480px;
    vertical-align: top;
    margin-right: 16px;
    font-weight: bold;
}