@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

h5.card-title {
  color: $link-color;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

div.card {
  margin-top: 4px;
}
