<div class="container">
  <h2>{{ pageName }}</h2>

  <div class="row">
    <ng-container *ngIf="items && items.length > 0; else noSolutionBlock">
      <div
        class="col-xs-12 col-sm-12 col-md-4"
        *ngFor="let puzzleInfo of items; else: noSolutionBlock"
      >
        <div class="card">
          <img
            src="assets/backgrounds/{{ puzzleInfo.id }}.jpg"
            class="card-img-top"
            alt="Puzzle Image {{ puzzleInfo.id }}"
          />
          <div class="card-body">
            <h5
              class="card-title"
              title="View Pizzle Details"
              routerLink="/puzzle/{{ puzzleInfo.id }}"
            >
              {{ puzzleInfo.id }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ getPuzzleType(puzzleInfo) }}
            </h6>
            <p class="card-text">
              {{ puzzleInfo.description }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noSolutionBlock>
      <div class="solutionRow alert alert-warning">
        No puzzles are available
      </div></ng-template
    >
  </div>
</div>
