.configuration-component {
  border: 1px solid black;
  border-top: none;
}

.configRow {
  border-top: 1px solid black;
  padding: 4px;
}

.icon-click-left,
.icon-click-right,
.icon-value {
  cursor: pointer;
  border: 0px;
}

.icon-click-left:hover,
.icon-click-right:hover {
  //outline: 1px solid black;
}

.icon-value {
  display: inline-block;
  text-align: center;
  width: 48px;
}
