.header-block {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header-sub {
  border-bottom: 1px solid black;
  text-align: center;
}

.routeHolder {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
