<app-old-chou-treasure-row
  [y]="0"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-row>
<app-old-chou-treasure-row
  [y]="1"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-row>
<app-old-chou-treasure-row
  [y]="2"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-row>
<app-old-chou-treasure-row
  [y]="3"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-row>
<app-old-chou-treasure-row
  [y]="4"
  [config]="config"
  (cellClicked)="cellClickEvent($event)"
></app-old-chou-treasure-row>
