<div class="container">
  <div class="row head-row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="display-4">Genshin Impact Puzzle Solver</h1>
      <p class="lead">
        Welcome to the Genshin Impact Cube Puzzle Solver. We're here to help you
        solve those complex spinning / light up puzzles without losing your mind
        or wasting bursts trying to luck your way through. This project has all
        the basic functiuonality working, but some puzzles are in-complete and
        need to be researched more. If you want to help, please see our
        <a href="https://github.com/mgatelabs/GenshinSolvers" target="_blank"
          >GitHub</a
        >
        page.
      </p>

      <app-map id="mapArea" class="card-text" [fixedHeight]="true"></app-map>
    </div>
  </div>
  <div class="row">
    <!--
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quick Access</h5>
          <div class="card-text map-component" #mapElement>
            <div class="map-frame">
              <div id="map" #m1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
-->
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Puzzle Completion</h5>
          <div class="card-text">
            <h5>Total</h5>
            <progressbar
              [value]="getPercentComplete()"
              type="info"
              [striped]="true"
              >{{ getPercentComplete() }}%</progressbar
            >

            <div *ngFor="let island of dataSource.islands; let i = index">
              <h5>{{ island }}</h5>
              <progressbar
                [value]="getIslandPercentComplete(i)"
                type="info"
                [striped]="true"
                >{{ getIslandPercentComplete(i) }}%</progressbar
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Map Key</h5>
          <p class="card-text">
            <img src="assets/waypoint.png" /> Teleport Waypoint<br />
            <img src="assets/seven.png" /> Statue of the Seven<br />
            <img src="assets/puzzle.png" /> Working Puzzle<br />
            <img src="assets/bad-puzzle.png" /> Broken Puzzle<br />
          </p>
        </div>
      </div>
    </div>
    <!--
    <div class="col col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    -->
  </div>
</div>
