<div
  *ngIf="puzzleInfo && puzzleSolution && puzzleSolution.length > 0"
  class="solution-component"
>
  <div class="solutionRow" *ngFor="let sol of puzzleSolution; let i = index">
    <button
      class="icon-click-left btn btn-info"
      title="Show Move"
      (click)="showStep(i)"
    >
      <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
    </button>

    Step {{ i + 1 }} -

    <span> Touch {{ sol.touchedCube! + 1 }} </span>
  </div>
  <div class="solutionRow">
    <button
      class="icon-click-left btn btn-info"
      title="Show Final"
      (click)="showFinalAction()"
    >
      <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
    </button>

    Finish
  </div>
</div>
